<div class="row">
    <div class="col-xs-10">
        <form>
            <div>
                <label for="name">Name</label>
                <input type="text">
                <label for="amount">Amount</label>
                <input type="number">
            </div>
            <div class="row">
                <div class="col-xs-10">
                    <button class="btn btn-success">Add</button>
                    <button class="btn btn-danger">Delete</button>
                    <button class="btn btn-primary">Clear</button>
                </div>
            </div>
        </form>
    </div>
</div>