<div class="row">
    <div class="col-xs-10">
        <form (ngSubmit)="onSubmit()" #f="ngForm">
            <div class="formGroup">
                <label for="ingrident">Name</label>
                <input type="text" ngModel name="ingrident" class="formControl" required>
                <label for="amount">Amount</label>
                <input type="number" ngModel name="amount" class="formControl" required>
            </div>
            <div class="row">
                <div class="col-xs-10">
                    <button class="btn btn-success" type="submit" [disabled]="f.invalid">Add</button>
                    <button class="btn btn-danger" type="button" *ngIf="editMode" (click)="onDelete()">Delete</button>
                    <button class="btn btn-primary" type="button" (click)="onClear()">Clear</button>
                </div>
            </div>
        </form>
    </div>
</div>