<div class="row">
    <div class="col-xs-12">
        <img [src]="recepie.imagePath" alt="" class="img-responsive" style="max-width: 300px;">
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <a appBest>
            <button class="btn btn-primary dropdown-toggle">Manage <span class="caret"></span></button>
            <ul class="dropdown-menu">
                <li> <a style="cursor: pointer;" (click)="toShoppingList()">To shoppinglist</a></li>
                <li> <a style="cursor: pointer;" (click)="onEdit()">edit</a></li>
                <li> <a style="cursor: pointer;" (click)="onDeleteRecepie()">delete</a></li>
            </ul>
        </a>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        {{recepie.recepie}}
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        {{recepie.discription}}
    </div>
</div>
<div class="row">
    <div class="col-xs-12" *ngFor="let ingrident of recepie.ingridents">
        {{ingrident.ingrident}} ({{ingrident.amount}})
    </div>
</div>