<div class="row">
    <div class="col-xs-12">
        <form [formGroup]="formData" (ngSubmit)="onSubmit()">
            <div>
                <button class="btn btn-success" type="submit" [disabled]="formData.invalid">Save</button>
                <button class="btn btn-danger" type="button" (click)="onCancel()">Cancel</button>
            </div>
            <div class="form-group">
                <label for="name">Name</label>
                <input type="text" formControlName="recepie" name="name" id="name" class="form-control">
            </div>
            <div class="form-group">
                <label for="imagePath">URL</label>
                <input type="text" formControlName="imagePath" name="imagePath" id="imagePath" class="form-control"
                    #imagePath>
            </div>
            <div class="form-group">
                <img [src]="imagePath.value" alt="" class="img-responsive" style="max-width: 100px;">
            </div>
            <div class="form-group">
                <label for="discription">Discription</label>
                <textarea name="discription" formControlName="discription" id="discription" rows="4"
                    class="form-control"></textarea>
            </div>
            <div class="row">
                <div class="col-xs-12" formArrayName="ingridents">
                    <div class="row" style="margin-top: 10px;"
                        *ngFor="let ingridentcontrol of formData.get('ingridents')['controls'];let i=index"
                        [formGroupName]="i">
                        <div class="col-xs-8">
                            <input type="text" formControlName="ingrident" name="ingrident" id="ingrident"
                                class="form-control">
                        </div>
                        <div class="col-xs-2">
                            <input type="number" formControlName="amount" name="amount" id="amount"
                                class="form-control">
                        </div>
                        <div class="col-xs-2">
                            <button class="btn btn-danger form-control">X</button>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            <div>
                <button class="btn btn-success" type="button" (click)="addIngrident()">Add Ingrident</button>
            </div>

        </form>
    </div>
</div>